<ion-header>
  <div class="padding-20 topbar flex-row flex-center">
    <div>
      <img src="assets/imgs/icon.png" class="logoicon" />
    </div>
    <div class="margin-left-10 txt-white txt-bold">
      NO:{{aidevice.no}}
    </div>
    <div class="flex-1 text-right txt-white">
      {{Lang["battery"]}}：
    </div>
    <div class="txt-white text-right txt-bold line-height-0">
      <!--感应器的电量显示需要校准，无电量时变成红色闪烁。
        三格满电(>=2.9V)
        2 格电(>=2.8V) 
        1 格电(>=2.7V)
        0 格电(<2.7V) 
        红色闪烁-->
      <div *ngIf="aidevice.v0>=2.9" class="battery b3" ></div>
      <div *ngIf="2.8<=aidevice.v0&&aidevice.v0<2.9" class="battery b2"></div>
      <div *ngIf="2.7<=aidevice.v0&&aidevice.v0<2.8" class="battery b1"></div>
      <div *ngIf="aidevice.v0<2.7" class="battery bs"></div>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="margin-top-3 padding-10">
    <div class="border-radius-5" [style.background-color]='aidevice.currentstatus.color'>
      <div class="padding-10 ">
        <div class="flex-row flex-center">
          <div class="flex-1">
            <div class="txt-bold h5" style="color:#f1f1f1">{{Lang["usetime"]}}：{{aidevice.usetime}}</div>
          </div>
          <div class="flex-1 text-right" *ngIf="aidevice.Version!=0" (click)="aidevice.debugFall()">
            <div class="txt-bold h5" style="color:#f1f1f1">{{Lang["temperature"]}}：{{aidevice.temperature}}℃</div>
          </div>
        </div>
        <div class="margin-top text-center">
          <div class="h5">{{Lang["generalindex"]}}：{{((100-aidevice.shushidu)<0)?0:(100-aidevice.shushidu)}}</div>
          <!--<div>{{aidevice.greenYV}}->{{aidevice.yellowV}}->{{aidevice.orangeV}}->{{aidevice.redV}}</div>-->
          <div class=" txt-bold" style="font-size: 52px" >{{Lang[aidevice.currentstatus.name]}}</div>
        </div>
        <div class="margin-top padding-10">
          <div class="msgbg h5 padding-5 border-radius-5 txt-white text-center">{{Lang[aidevice.currentstatus.msg]}}</div>
        </div>
      </div>
      <div class="flex-row">
        <div *ngFor="let item of aidevice.statuslist;let l=index;" class="flex-1 c{{l}}" [style.background-color]='item.color' style="height:20px"></div>
      </div>
    </div>
  </div>
  <!--
  <div class="h6">
    调试id：{{lastdeviceid}}
  </div>
  <div class="h6">
    调试：{{aidevice.advertising}}
  </div>-->
  <div class="margin-top-10 padding-10" style="padding-top: 0px;">
    <div class="border-radius-5 border flex-row flex-center white-block">
      <div class="padding-20 h4 lkfont text-center">{{Lang["forecastniaoliang"]}}</div>
      <div>
        <img class="shuxian" />
      </div>
      <div class="flex-1 h3 text-center">{{aidevice.wetml}}</div>
      <div class="flex-1 h4 text-center">
        <!--{{setting.mashu=='1'?"成人大码":""}}
          {{setting.mashu=='2'?"成人中码":""}}
          {{setting.mashu=='3'?"成人均码":""}}-->
        <div>
          <img src="assets/res/wet{{aidevice.currentstatus.wet}}.png" class="wetpaper" />
        </div>
        <div class="h6">{{Lang["xishouliang"]}}{{setting.mashu=='1'?"700ml":""}} {{setting.mashu=='2'?"600ml":""}} {{setting.mashu=='3'?"550ml":""}}
        </div>
      </div>
    </div>
  </div>
  <div ></div>
  <div class="margin-top-10 padding-10" style="padding-top: 0px;" >
    <div class="border-radius-5 border flex-row flex-center white-block " [class.falling]="aidevice.fall=='Y'">
      <div class="padding-20 h4 lkfont text-center">{{Lang["urgent"]}}</div>
      <div>
        <img class="shuxian" />
      </div>
      <div class="flex-1 h3  text-center" *ngIf="aidevice.fall=='Y'" (click)="handelFall()" >{{Lang["fallcare"]}}</div>
      <div class="flex-1 h3  text-center" *ngIf="aidevice.fall!='Y'" >{{Lang["nodata"]}}</div>
      <div class="flex-1 h4 text-center" >
        <img src="assets/res/fall.png" class="fallpic" *ngIf="aidevice.fall=='Y'" (click)="handelFall()" />
      </div>
    </div>
  </div>
  <div class="margin-top-10 padding-10" style="padding-top: 0px;">
    <div class="border-radius-5 border flex-row flex-center white-block">
      <div class="padding-20 h4 lkfont text-center">{{Lang["sleepmonitor"]}}</div>
      <div>
        <img class="shuxian" />
      </div>
      <div class="flex-1 h3 text-center">
        <div>{{aidevice.post}}</div>
        <div class="h6" *ngIf="aidevice.postimg!=''" >{{Lang[aidevice.postimg]}}{{Lang["posttime"]}}：{{aidevice.nomovetime}}</div>
      </div>
      <div class="flex-1 h4 text-center">
        <img src="assets/res/{{aidevice.postimg}}.png" *ngIf="aidevice.postimg!=''" class="shuipost" />
      </div>
    </div>
  </div>
  <div class="margin-top-3 padding-10" style="padding-top: 0px;" *ngIf="false">
    <div class="border-radius-5 border flex-row flex-center white-block">
      <div class="padding-20 h4 lkfont text-center" >{{Lang["usersetting"]}}</div>
      <div>
        <img class="shuxian" />
      </div>
      <div class="flex-1 text-center">
        <div class="h6">{{Lang["sound"]}}</div>
        <div class="h3">{{setting.sound=='Y'?Lang["on"]:Lang["off"]}}</div>
      </div>
      <div class="flex-1 text-center">
        <div class="h6">{{Lang["accurrency"]}}</div>
        <div class="h3">{{setting.shushi=='0'?Lang["shushi_0"]:""}}
            {{setting.shushi=='1'?Lang["shushi_1"]:""}}
            {{setting.shushi=='2'?Lang["shushi_2"]:""}}
            {{setting.shushi=='3'?Lang["shushi_3"]:""}}
            {{setting.shushi=='4'?Lang["shushi_4"]:""}}
        </div>
      </div>
    </div>
  </div>
  <div class="text-center h6 padding margin-top-10 txt-gray">v1.0.1 互爱管家</div>
</ion-content>