page-home {
    .topbar{
        background-color:#321663;
    }
    .topbar .logoicon{
        height: px(30);
    }
    .msgbg{
        background: rgba(0,0,0,0.3);
    }
    .c4{
        border-bottom-right-radius: px(5);
    }
    .c0{
        border-bottom-left-radius: px(5);
    }
    .lkfont{
        width: px(70);
    }
    .shuxian{

        height: px(50);
        width: 2px;
        background: #dcdcdc;
    }
    .wetpaper{
        width: px(50);
    }
    .fallpic{
        width: px(90);
    }
    .shuipost{
        height: px(60);
    }
    .battery{
        width:px(30);
    }
    .falling{
        background: #d00000;
    }
}
