page-home {
    .topbar{
        background-color:#321663;
    }
    .topbar .logoicon{
        height: px(30);
    }
    .msgbg{
        background: rgba(0,0,0,0.3);
    }
    .c4{
        border-bottom-right-radius: px(5);
    }
    .c0{
        border-bottom-left-radius: px(5);
    }
    .lkfont-cn{
        width: px(70);
    }
    .lkfont-en{
        width: px(100);
    }
    .shuxian{
        height: px(50);
        width: 2px;
        background: #dcdcdc;
    }
    .wetpaper{
        width: px(50);
    }
    .fallpic{
        width: px(90);
    }
    .shuipost{
        height: px(60);
    }
    .battery{
        width:px(37);
        height:px(20);
        background-size: 100% 100%;
        
    }
    .bt{
        width:px(37);
        height:px(20);
        background-size: 100% 100%;
        
    }
    .b3{
        background-image:url(/assets/res/battery_3.png);
    }
    .b2{
        background-image:url(/assets/res/battery_2.png);
    }
    .b1{
        background-image:url(/assets/res/battery_1.png);
    }
    .falling{
        background:rgb(250,0,63);
    }

    @-webkit-keyframes redchange{
        0% {
            background-image:url(/assets/res/battery_10.png);
        }
        24% {
            background-image:url(/assets/res/battery_10.png);
        }

        25% {
            background-image:url(/assets/res/battery_s.png);
        }
        75% {
            background-image:url(/assets/res/battery_s.png);
        }
        76% {
            background-image:url(/assets/res/battery_10.png);
        }
        100% {
            background-image:url(/assets/res/battery_10.png);
        }
      }
       
      .bs {
          -webkit-animation: redchange 2s infinite ; 
      }
}